<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz con Botones</title>
    <link rel="stylesheet" type="text/css" href="/static/estilosindex.css">

</head>
<body>
    <form action="/Ejercicio1" method="get">
        <button type="submit">Ejercicio1</button>
    </form>
    <form action="/Ejercicio2" method="get">
        <button type="submit">Ejercicio2</button>
    </form>
</body>
</html>
